{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-6">
        <h1 class="h3 py-5 font-weight-normal text-center text-decoration-underline">Créer un compte: <i class="fas fa-user-plus"></i></h1>

        {{ form_start(registrationForm) }}
          <div class="form-group">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
          </div>
          <div class="form-group">
            {{ form_label(registrationForm.plainPassword, 'Mot de Passe :') }}
            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
          </div>
          <div class="form-group form-check">
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} }) }}
            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions d\'utilisation', { 'label_attr': {'class': 'form-check-label'} }) }}
          </div>
          <button type="submit" class="btn btn-primary">Créer le compte</button>
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
{% endblock %}
